<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="courses" *ngIf="courses[0] as course">
  <!-- L28: Applying Highlighted Attribute -->
  <!-- CARD 1 -->
  <!-- 
    1. Add highlighted to course-card when applying as selector
    2. L29: Replace highlighted with [highlighted]="true" when applying as Input property for Highlighted directives 
    3. L30: Add toggleHighlight Event Listener
    4. L31: #highlighter Reference for Highlighted Toggle Method
    5. L33: *ngxUnless="!course.iconUrl condition to display the image.
   -->

  <course-card
    highlighted
    #highlighter="hl"
    (toggleHighlight)="onToggle($event)"
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
  >
    <course-image [src]="course.iconUrl" *ngxUnless="!course.iconUrl></course-image>

    <div class="course-description" (dblclick)="highlighter.toggle()">
      {{ course.longDescription }}
    </div>
  </course-card>
  <!-- L28: CARD 2 To check if highlighted attributed is applied on each component -->
  <!-- <course-card highlighted [course]="courses[2]"></course-card> -->
</div>
