<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>
<!-- Button Added for changes.subscribe() functionality START -->
<button (click)="onCourseEdited()">Edit Course</button>
<!-- Button Added for changes.subscribe() functionality END -->

<!-- CODE FROM HERE IS FOR PIPES - STARTS-->
<!-- <div class="demo"> -->
<!-- <div>Start Date: {{ startDate | date : "MMM dd yyyy" }}</div>
  <div>{{ title | titlecase }}</div>
  <div>{{ price | number : "3.3-5" }}</div>
  <div>{{ price | currency : "GBP" }}</div>

  <div>Percentage : {{ rate | percent }}</div> -->
<!-- View fOR JSON Pipe -->
<!-- <div>{{ courses | json }}</div> -->
<!-- Object Key Value Pipe -->
<!-- <div *ngFor="let pair of course | keyvalue">
    {{ pair.key + ":" + pair.value }}
  </div> -->
<!-- </div> -->
<!-- CODE FROM HERE IS FOR PIPES - ENDS-->

<!-- This code was defined to explain how component properties can be displayed -->
<!-- <h1>{{ coreCourse.description }}</h1> -->
<!--Container is given a Template Reference  -->
<!-- *****ACTIVATE THIS DIV FOR LESSONS UPTO NO. 21**** -->
<!-- <div class="courses" #container> -->
<!--**** ACTIVATE THIS DIV FOR LESSONS UPTO NO. 21**** -->
<!-- This code was define when title example was explained -->
<!-- <course-card [title]="coreCourse.description"></course-card> -->
<!-- This code was define when Course EventEmitter was performed -->
<!-- <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="coreCourse"
  ></course-card>
  <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="rxjsCourse"
  ></course-card>
  <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="ngrxCourse"
  ></course-card> -->
<!-- The following code was to display all the cards through ngFor Loop -->
<!-- Importing All Course Through ngFor Loop through Array -->
<!-- With Slice pipe displaying only first & Second card -->
<!-- Add Class Attributes to card in Even and Odd order -->
<!-- Displayed all Cards through EventEmitter and added indexing on each card -->
<!-- <course-card
    *ngFor="
      let course of courses | slice : 0 : 3;
      index as i;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd
    "
    [class.is-first]="isFirst"
    [class.is-last]="isLast"
    [class.is-even]="isEven"
    [class.is-odd]="isOdd"
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    [cardIndex]="i + 1"
  ></course-card> -->
<!-- Displaying a Single Card (First Card at index 1) without ngFor Loop, without special indexing and class attributes -->
<!-- <course-card
  #cardRef
  (courseSelected)="onCourseSelected($event)"
  [course]="courses[2]"
>
</course-card> -->
<!-- Displaying Multiple Multiple Cards -->
<!-- <course-card
  *ngFor="let course of courses"
  (courseSelected)="onCourseSelected($event)"
  [course]="course"
>
</course-card> -->
<!-- Displaying Multiple Multiple Cards -->
<!---->
<!-- *****ACTIVATE THIS DIV FOR LESSONS UPTO NO. 21**** -->
<!-- </div> -->
<!-- *****ACTIVATE THIS DIV FOR LESSONS UPTO NO. 21**** -->
<!-- L22: FOR NG-CONTENT PROJECTION START -->
<div class="courses" *ngIf="courses as course">
  <!-- L22: ng-content Projection Card 1 -->
  <!--L22 course-card for ng-content example -->
  <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[2]"
  >
    <!--L22 Passing Image as an configurable component -->

    <img
      class="course"
      width="300"
      alt="Angular Logo"
      [src]="courses[2].iconUrl"
    />
    <h5>Total Lessons: 5</h5>
  </course-card>
  <!-- L22: ng-content Projection Card 1 -->
  <!--L22 course-card for ng-content example -->
  <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[3]"
  >
    <div class="course">
      <!--L22 Passing Image as an configurable component -->
      <!-- L22 This image has been disabled to show ng-content projects out is given -->
      <!-- L22 Activate it to display it -->
      <img width="300" alt="Angular Logo" [src]="course[3].iconUrl" />
      <h5>Total Lessons: 15</h5>
    </div>
  </course-card>

  <!-- L22: FOR NG-CONTENT PROJECTION START -->
</div>
